<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="UIAutomationSuite" parallel="tests" thread-count="2">

    <!-- Assignment Flow Tests -->
    <test name="AssignmentTests">
        <classes>
            <class name="com.gcloud.tests.TestAssignment"/>
        </classes>
    </test>
</suite>
